@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');


:root {
  --themeC: #7500ff;
  --clb: #7500ff21;
  --black: #00000059;
}

#root {
  width: 100%;
  min-height: 100vh;
  padding: 50px;
  backdrop-filter: blur(15px);
}

.centered {
  justify-content: center;
  /* center items horizontally, in this case */
  align-items: center;
  /* center items vertically, in this case */
  display: flex;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #71fcaa;
}

.sun {
  display: flex;
  justify-content: center;
  /* center items horizontally, in this case */
  align-items: center;
  /* center items vertically, in this case */
  border-radius: 50%;
  height: 200px;
  width: 200px;
  right: 100px;
  background: orange;
  box-shadow: 0 0 10px orange,
    0 0 60px orange,
    0 0 200px yellow,
    inset 0 0 80px yellow;
  z-index: 12;
  z-index: -99;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.flexc {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: 'Gruppo', cursive;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('./assets/task_tracker_bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-size: 250vh 100vh; */
}

.container {
  position: relative;
  width: 500px;
  margin: 1px auto;
  /* overflow: auto; */
  min-height: 500px;
  border: 1px solid #000000;
  padding-bottom: 60px;
  /* padding: 20px 30px; */
  /* border-radius: 5px; */
  background-color: var(--black);
  backdrop-filter: blur(50px);
  user-select: none;
}

.header {
  background: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 20px 30px;
}

h1,
h4 {
  font-weight: 500;
}

h4 {
  font-size: 15px;
}

.btn {
  background: #000;
  width: 45px;
  height: 45px;

  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  background: var(--black);
  width: 100%;
  height: 60px;
  font-size: 18px;
  border-radius: 0px;
  transition: 0.2s ease;
}

.taskAddBtn:hover {
  opacity: .5;
}

.btn-block:hover {
  background: #000000;
}

.noTask {
  margin: 40px 0 20px;
  text-align: center;
}

.task {
  /* background: #ff000031; */
  margin: 30px;
  height: 70px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.task:hover {
  transform: scale(1.05);
}

.task:hover .task_content {
  background: #000000;
}

.task.reminder {
  border-left: 5px solid var(--themeC);
}

.task.reminder h3 {
  color: var(--themeC);
}

.task_content {
  flex-direction: column;
  align-items: flex-start;
  background: var(--black);
  width: calc(100% - 70px);
  height: 100%;
  padding: 8px 15px;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task_content>p {
  margin-top: 7px;
  text-align: left;
  font-style: italic;
}

.task_clsBtn {
  background: var(--clb);
  color: var(--themeC);
  width: 70px;
  height: 100%;
  font-size: 18px;
  transition: 0.2s ease;
}

.task_clsBtn:hover {
  opacity: 0.5;
}

.add-form {
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, #2705ff1f 0%, #0000 100%);
  padding: 20px 30px;
}

.form-control {
  margin: 20px 0 30px;
}

.form-control label {
  display: block;
  font-size: 19px;
}

.form-control input {
  background: transparent;
  width: 100%;
  height: 40px;
  margin-top: 5px;
  /* padding: 3px 7px; */
  color: #ffffff;
  font-size: 17px;
  font-family: inherit;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #000000;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

.footer {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  bottom: 0px;
  height: 30px;
  padding: 30px;
  font-size: 12px;
  text-align: center;
}

.link {
  /* color: var(--themeC); */
  font-size: 12px;
  transition: 0.2s ease;
}

.link:hover {
  color: var(--themeC);
}

.about_con {
  padding: 30px;
  font-size: 18px;
  line-height: 20px;
}